.pin-detail {
  height: 80vh;
}
@media only screen and (max-width: 768px) {
  .pin-detail {
    height: auto;
  }
  .pin-details-comments {
    display: none;
  } 
}

.pin-details-comments::-webkit-scrollbar {

 
 width: 0px;
}
.pin-details-comments:hover::-webkit-scrollbar {

 
 width: 8px;
}
.pin-details-comments::-webkit-scrollbar-thumb {

 background-color: var(--brand-purple);
 border-radius: 10px;

}